<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecipePlatform.PL.WEB</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/RecipePlatform.PL.WEB.styles.css" asp-append-version="true" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="..." crossorigin="anonymous" />

</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar fade-in">
            <div class="navbar-top">
                <div class="logo">
                    <!--         <img src="your-logo.png" alt="Logo" /> -->
                    <div class="logo-text">
                        <div>Taste Bud</div>
                    </div>
                </div>

                <div class="nav-menu">
                    <a href="#" class="active">Home</a>
                    <a href="#">Recipes</a>
                </div>

                <div class="nav-buttons">
                    <button class="btn btn-dark">Register</button>
                    <button class="btn btn-outline">Login</button>
                </div>
            </div>

            <!-- Search Bar moved below -->
            <div class="nav-search">
                <input type="text" placeholder="Search by recipes or Ingredients ..." />
                <button>
                    <i class="fa-solid fa-search"></i> 
                </button>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
